<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <dict>
            <key>name</key>
            <string>同班同学</string>
            <key>code</key>
            <string>004</string>
        </dict>
        <dict>
            <key>name</key>
            <string>同事</string>
            <key>code</key>
            <string>003</string>
        </dict>
        <dict>
            <key>name</key>
            <string>朋友</string>
            <key>code</key>
            <string>002</string>
        </dict>
        <dict>
            <key>code</key>
            <string>001</string>
            <key>name</key>
            <string>亲戚</string>
        </dict>
    </array>
</plist>
