<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>亲姐妹</string>
		<key>code</key>
		<string>004</string>
	</dict>
	<dict>
		<key>name</key>
		<string>亲兄弟</string>
		<key>code</key>
		<string>003</string>
	</dict>
	<dict>
		<key>name</key>
		<string>子女</string>
		<key>code</key>
		<string>002</string>
	</dict>
	<dict>
		<key>code</key>
		<string>001</string>
		<key>name</key>
		<string>父母</string>
	</dict>
</array>
</plist>
